<!DOCTYPE html>
<html lang="en">
<%- include("includes/head", {title: "Portfolio | Tradia"})  %>
<body>
    <%- include("includes/nav") %>
    <main>
        <h1>Portfolio</h1>
        <div class="filterBox">
            <label id="assetFilter" for="assetFilter">Filter by Assets</label>
            <select name="assetFilter" id="assetFilter">
                <option value="All">All</option>
                <% journals.forEach( journal => { %>
                    <option value="<%= journal.asset %>"><%= journal.asset %></option>
                <% }) %>
            </select>
            
        </div>
        
        <div class="allJournal">
            
            <% journals.forEach(journal => { %>
            <div class="journal">
                <h3 id="asset"><%= journal.asset %></h3>
                <p><%= journal.buysell %></p>
                <p><%= journal.date.toISOString().split('T')[0] %></p>
                <p>Price: <%= journal.price %> $</p>
                <p id="amount"Invested Amount<%= journal.amount %> $</p>
                <p>Quantity: <%= assetQuantity(journal.amount, journal.price)%></p>
                <p><%= journal.description %></p>
                <div class="update"><a  href="/portfolio/edit/<%= journal._id %>">Edit</a></div>
                <form action="/portfolio/delete/<%= journal._id %>" method="post"><button type="submit" class="delete">Delete</button></form>

                
            </div>
            <% }) %>
        </div>
     

    </main>
    <%- include("includes/footer")  %>
    <%- include("includes/filterAmount") %>
     
   
</body>
</html>